// -------------------------------------
// Variables for styles
// -------------------------------------

// Color palette
$white:     #fff;
$concrete:  #f2f2f2;

$codGray:   #121212;

$baseFontFamily:        'Open Sans', sans-serif;
$secondaryFontFamily:   'Martel',serif;

$baseFontColor:         $codGray;
